*
{
    text-align: center;
    align-self: center;
    margin: 0px;
}
body
{
    background-color: cornsilk;
    padding-top: 30%;
}
h1
{
    background-color: bisque;
    padding: 5px;
}
nav
{
    width: 500px;
    height: 500px;
    padding: 20px;
}
.card
{
    list-style: none;
    background-color: burlywood;
    margin: 5px;
    width: 25%;
    height: 25%;
    display: inline-block;
    font-size: 40px;
    border: 0px solid
}
